* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    /* background-color: gray; */
    margin-top: 20px;
}

.blog {
    width: 32%;
    height: 200px;
    display: inline-block;
    border: 2px solid blue;
    margin: 2px;
    background-color: red;
    ;
}